[user]
    email =
    name =

[diff]
    tool = vimdiff

[difftool]
    prompt = false

[color]
    ui = auto

[alias]
    co = checkout
    br = branch
    co = commit
    st = status
    gra = log --graph --date-order -C -M --pretty=format:\"<%h> %ad[%an] %Cgreen%d%Creset %s\" --all --date=short
    di = difftool

[core]
    pager = lv -c
    excludesfile = ~/.gitignore
    editor = vim -c \"set fenc=utf-8\"

[push]
    default = upstream
